.app{
    display: grid;
    grid-template-rows: 150px auto;
    background-color: rgb(119, 119, 165);
}
.app_main{
    display:flex;
    justify-content: space-evenly;
    padding: 20px 8%;
    background-color:#f9f9f9

}
.task_column{
    width:33.33%;
    margin:20px;
    
}

